<mat-card
  *ngIf="product"
  [ngClass]="{'text-center' : !fullWithMode}"
>
  <div [ngClass]="{'flex': fullWithMode}">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{'h-200px': !fullWithMode, 'h-[320px]' : fullWithMode}"
      [src]="product.image"
      alt="store"
    >

    <div
      class="w-full"
      [ngClass]="{'px-8 flex flex-col justify-start': fullWithMode}"
    >
      <h3>{{product.category}}</h3>
      <p class="truncate hover:whitespace-normal">{{product.title}}</p>
      <p *ngIf="fullWithMode">{{product.description}}</p>
    </div>
    <div class="flex justify-between text-center">
      <span class="text-red-400">{{product.price|currency}}</span>
      <button (click)="onAddToCart()">
        <mat-icon class="text-gray-500">shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
