<mat-card [ngClass]="{'text-center' : !fullWithMode}">
  <div [ngClass]="{'flex': fullWithMode}">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{'h-200px': !fullWithMode, 'h-[320px]' : fullWithMode}"
      src="https://via.placeholder.com/150"
      alt="store"
    >

    <div
      class="w-full"
      [ngClass]="{'px-8 flex flex-col justify-start': fullWithMode}"
    >
      <h3>Product Name</h3>
      <p *ngIf="fullWithMode">Product Description</p>
      <p>Product Price</p>
    </div>
    <div class="flex justify-between text-center">
      <span class="text-red-400">{{150|currency}}</span>
      <button (click)="addToCart()">
        <mat-icon class="text-gray-500">shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
